@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
}

.criminalsContainer {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
	align-content: space-between;
	flex-basis: 3;
}

.criminal__card {
	border: black dotted 1px;
	margin: .5em 3em .5em .5em;
	flex-basis: 25%;
	padding: 1em;
}

.notes-criminals {
	display: flex;
}


.noteFormContainer {
	display: flex;
	flex-direction: column;
	
}

.investigation {
	flex-basis: 1;
}
